<div class="container-fluid">


  <div class="row">

    <div class="col-sm">
      <div class="card">
        <div class="card-header">
          <div class="col-lg-12">
            <div class="row">
              <div class="col-sm-4">
                <i class="fas fa-tools fa-3x">
                </i>
              </div>
              <div class="col-sm-8">
                <h4>Aktywne naprawy</h4>
              </div>
            </div>
          </div>
        </div>
        <div class="card-body">
          <p> <app-item-service-box [orders]="repairs"></app-item-service-box></p>
        </div>
      </div>
    </div>

    <div class="col-sm">
      <div class="card">
        <div class="card-header">
          <div class="col-lg-12">
            <div class="row">
              <div class="col-sm-4">
                <i class="fas fa-retweet fa-3x"></i>
              </div>
              <div class="col-sm-8">
                <h4>Aktywne wypożycznia</h4>
              </div>
            </div>
          </div>
        </div>
        <div class="card-body">
          <app-item-service-box [orders]="loans"></app-item-service-box>
        </div>
      </div>
    </div>

    <div class="col-sm">
      <div class="card">
        <div class="card-header">
          <div class="col-lg-12">
            <div class="row">
              <div class="col-sm-4">
                <i class="fab fa-shopify fa-3x"></i>
              </div>
              <div class="col-sm-8">
                <h4>Aktywne zamówienia</h4>
              </div>
            </div>
          </div>
        </div>
        <div class="card-body">
          <app-item-service-box [orders]="shopping"></app-item-service-box>
        </div>
      </div>
    </div>

  </div>
</div>
