<div class="container-fluid">

  <div class="jumbotron bg-white">
    <h1 class="display-4">Witamy w sklepie rowerowym </h1>
    <h2><span class="badge badge-secondary">KAROL BĄK</span></h2>
    <p class="lead">Punkty odbioru rowerów. Prosto. Wygodnie. Tanio.</p>
    <hr class="my-4">
    <p>Dostawa: <span class="badge badge-light">Gratis!</span> do końca miesiąca</p>
      <p>Cena montażu zależy od wybranego punktu.
      Za montaż zapłacisz przy odbiorze roweru.</p>
  </div>

  <div class="row">

    <div class="col-sm">
      <div class="card">
        <div class="card-header">
          <div class="col-lg-12">
            <div class="row">
              <div class="col-sm-4">
                <i class="fas fa-tools fa-3x">
                </i>
              </div>
              <div class="col-sm-8">
                <p>Aktywne usługi</p>
              </div>
            </div>
          </div>
        </div>
        <div class="card-body">
          Content
        </div>
      </div>
    </div>

    <div class="col-sm">
      <div class="card">
        <div class="card-header">
          <div class="col-lg-12">
            <div class="row">
              <div class="col-sm-4">
                <i class="fas fa-retweet fa-3x"></i>
              </div>
              <div class="col-sm-8">
                <p>Aktywne wypozyczenia</p>
              </div>
            </div>
          </div>
        </div>
        <div class="card-body">
          Content
        </div>
      </div>
    </div>

    <div class="col-sm">
      <div class="card">
        <div class="card-header">
          <div class="col-lg-12">
            <div class="row">
              <div class="col-sm-4">
                <i class="fab fa-shopify fa-3x"></i>
              </div>
              <div class="col-sm-8">
                <p>Zakupy</p>
              </div>
            </div>
          </div>
        </div>
        <div class="card-body">
          Content
        </div>
      </div>
    </div>

  </div>
</div>
