<div class="container-fluid">
  <div class="card">
    <div class="card-header">
      <h5>Dodawanie nowego produktu</h5>
    </div>
    <div class="card-body">
      <form [formGroup]="addForm">
        <div class="form-group row">
          <label for="name" class="col-sm-1 col-form-label text-center">Nazwa</label>
          <div class="col-sm-4">
            <input id="name" class="form-control" type="text" formControlName="name">
          </div>
          <div class="col-sm-7"></div>
        </div>

        <div class="form-group row">
          <label for="price" class="col-sm-1 col-form-label text-center">Cena</label>
          <div class="col-sm-4">
            <input id="price" class="form-control" type="text" formControlName="price">
          </div>
          <div class="col-sm-7"></div>
        </div>

        <div class="form-group row">
          <label for="image" class="col-sm-1 col-form-label text-center">Zdjęcie</label>
          <div class="col-sm-4">
            <input id="image" class="form-control" type="text" formControlName="imageUrl">
          </div>
          <div class="col-sm-7"></div>
        </div>

        <div class="form-group row">
          <label for="color" class="col-sm-1 col-form-label text-center">Kolor</label>
          <div class="col-sm-4">
            <input id="color" class="form-control" type="text" formControlName="color">
          </div>
          <div class="col-sm-7"></div>
        </div>
        <div class="form-group row">
          <label for="producer" class="col-sm-1 col-form-label text-center">Producent</label>
          <div class="col-sm-4">
            <input id="producer" class="form-control" type="text" formControlName="producer">
          </div>
          <div class="col-sm-7"></div>
        </div>

      </form>
    </div>

    <div class="card-footer">
      <button class="btn btn-success col-sm-12" (click)="onSubmit(addForm.value)"> Dodaj</button>
    </div>
  </div>
</div>
