<div class="container-fluid">
  <div class="card">
    <div class="card-header">
      <p>Realizacja zamówienia </p>
    </div>
    <div class="card-body">

        <div class="card">
          <div class="card-header">
            Podsumowanie
          </div>

          <app-table *ngIf="order.products && order.products.length"
                     [data]="order.products"
                     [showActionButtons]="false">
          </app-table>
          <p class="ml-2">Koszt: {{order.amount}}</p>
        </div>
        <app-delivery [deliveries]="deliverySelectData"
                      [(deliveryForm)]="orderForm"
                      (deliveryFormChange)="onGetDeliveryCost()">
        </app-delivery>

        <app-address [(addressForm)]="orderForm">
        </app-address>
    </div>
    <div class="card-footer">
      <div class="">
        {{'Całkowity koszt: ' + total}}
      </div>
      <div class="dropdown-divider"></div>
        <button class="btn btn-success w-100 mt-2" (click)="create()">
          <span>Potwierdzam</span>
        </button>
    </div>
  </div>
</div>
