<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <button class="btn btn-dark d-inline-block d-lg-none ml-auto" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <i class="fas fa-caret-down fa-3x"></i>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="nav navbar-nav">
        <li class="nav-item">
          <button type="button" class="navbar-btn" data-toggle="collapse" (click)="clickToggle(toggle)">
            <i class="fas fa-caret-down fa-3x"></i>
          </button>
        </li>

        <app-shopping-card *ngIf="user"></app-shopping-card>

        <li class="nav-item dropdown" *ngIf="user">
          <a class="nav-link dropdown" id="navbarDropdown" role="button" data-toggle="dropdown">
            <i class="far fa-user fa-2x"></i>
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item">Moje konto</a>
            <a class="dropdown-item">Ustawienia</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" (click)="onLogout()">Wyloguj</a>
            <!--(click)="onLogout()-->
          </div>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/login" routerLinkActive="active" *ngIf="!user">Zaloguj</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/register" *ngIf="!user" routerLinkActive="active">Register</a>
        </li>

      </ul>
    </div>
  </div>
</nav>
