<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01"
          aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item dropdown" *ngIf="user">
        <a class="nav-link dropdown" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
           aria-haspopup="true" aria-expanded="false">
          {{user.username}}
          <svg-icon src="assets/icons/user.svg" [svgStyle]="{ 'width.px':50, 'height.px':50 }"></svg-icon>
        </a>
        <div class="dropdown-menu" id="custom-dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item">Moje konto</a>
          <a class="dropdown-item" href="#">Ustawienia</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" (click)="onLogout()">Wyloguj</a>
        </div>
      </li>
    </ul>
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" routerLink="/login" *ngIf="!user">Zaloguj</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/register" *ngIf="!user">Register</a>
      </li>
      <app-basket *ngIf="user">

      </app-basket>
    </ul>
  </div>
</nav>
