#success {
  color: green;
}


@media (max-width: 768px) {
  .wrapper {
    width: 100%;
    display: inline;
  }
  #sidebar {
    marign: 0px
  }

  td {
    /*display: inline-flex;*/
    width: auto;
  }
  td input{
    width: 100%;
  }
}
