<table class="table table-striped table-responsive">
  <thead>
  <tr>
    <th class="text-center">#</th>
    <th class="text-center" *ngFor="let column of columns"> {{column}} </th>
    <th class="text-center">Akcje</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let item of data; let i = index">
    <td class="text-center">{{i + 1}}</td>
    <td class="text-center" *ngFor="let column of columns">
      <ng-container *ngIf="!isEditable"> {{item[column]}} </ng-container>
      <input (keydown.enter)="onClickEditable()" [(ngModel)]="item[column]" *ngIf="isEditable">
    </td>
    <td class="text-center">
      <app-button (onSomeActionEmitter)="onClickDeleteButton()" icon="fas fa-trash-alt">
      </app-button>
      <app-button (onSomeActionEmitter)="onClickDeleteButton()" [icon]="isEditable ? 'far fa-edit text-success' : 'far fa-edit'" (click)="onClickEditable()">
      </app-button>
    </td>
  </tr>
  </tbody>
</table>


