#success {
  color: green;
}



.table thead th {
  border: 1px solid rgba(123, 66, 130, 0.85);
}

td {
  border: 1px solid rgba(123, 66, 130, 0.85);
}
#id {
  text-align-last: center;
}
@media (max-width: 768px) {
  .wrapper {
    width: 100%;
    display: inline;
  }
  #sidebar {
    marign: 0px
  }

  td {
    /*display: inline-flex;*/
    width: auto;
  }
  td input{
    width: 100%;
  }
}
