<div class="col-lg-12">
  <div class="jumbotron">
    <h1 class="display-4">Witaj w naszym sklepie</h1>
    <p class="lead">Cieszymy się, że jesteś! </p>
    <hr class="my-4">
    <p>W rowertour.com oferujemy akcesoria rowerowe, które udoskonalą Twój rower i sprawią, że jazda stanie się jeszcze
      bardziej komfortowa i bezpieczna. Jednym z podstawowych akcesoriów jest oświetlenie rowerowe. Oferujemy zarówno
      lampki przednie i tylne, przydatne w mieście jak i poza nim. Rower wyposażony w błotniki rowerowe o wiele lepiej
      poradzi sobie z kałużami i błotem na drodze. O bezpiecznej jeździe decyduje również dzwonek rowerowy, który nie
      tylko ostrzega przechodniów przed zbliżającym się rowerem, ale cieszy oko ciekawym designem.</p>
  </div>
</div>

<div class="col-lg-12">
  <div class="row">
    <div class="col-lg-4">
      <div class="card text-center">
        <div class="card-header bg-secondary">
          <span class="badge badge-pill">PROMOCJE</span>
        </div>
        <div class="card-body">
          <h5 class="card-title">Rabat na pierwsze zakupy </h5>
          <p class="card-text">Odbierz rabat wchodząc w link</p>
          <a href="#" class="btn btn-secondary">Pokaż kod promocyjny</a>
        </div>
      </div>
    </div>
    <div class="col-lg-8">
      <div class="card text-center">
        <div class="card-header bg-secondary">
          <span class="badge badge-pill">PROMOCJA</span>
        </div>
        <div class="card-body">
          <h5 class="card-title">Kup dwa produkty</h5>
          <p class="card-text">A drugi dostaniesz 20% taniej </p>
          <a href="#" class="btn btn-secondary">Pokaż promocję</a>
        </div>
      </div>
    </div>
  </div>
</div>


<div class="col-lg-12 pt-4">
  <div class="row">
    <div class="col-lg-4">
      <div class="card">
        <img class="card-img-top"
             src="https://trek.scene7.com/is/image/TrekBicycleProducts/b300_mtbMarqueeImage?$responsive-pjpg$&cache=on,on&wid=1920"
             alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">Oferty na rowery MTB</h5>
          <p class="card-text">Seria ta przypadnie do gustu miłośniczkom jednośladów, niebojących się wyruszyć na
            nierówny teren, ale też takim, które stawiają swoje pierwsze kroki w rowerowym świecie. To wszystko za
            sprawą konstrukcji i wyposażeniu, jakie pozwoliła sobie zastosować marka Romet..</p>
          <p class="card-text"><small class="text-muted">Ceny od 500 PLN</small></p>
        </div>
      </div>
    </div>
    <div class="col-lg-4">
      <div class="card">
        <img class="card-img-top"
             src="https://images.squarespace-cdn.com/content/v1/5e10bcd04e593e7ac11494cf/1579700027859-13HGVE2QCXZ2C7WUEZCQ/ke17ZwdGBToddI8pDm48kNvT88LknE-K9M4pGNO0Iqd7gQa3H78H3Y0txjaiv_0fDoOvxcdMmMKkDsyUqMSsMWxHk725yiiHCCLfrh8O1z5QPOohDIaIeljMHgDF5CVlOqpeNLcJ80NK65_fV7S1USOFn4xF8vTWDNAUBm5ducQhX-V3oVjSmr829Rco4W2Uo49ZdOtO_QXox0_W7i2zEA/1012372-new-mtb-wallpaper-1920x1080-photo.jpg?format=2500w"
             alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">Rowery dla dzieci</h5>
          <p class="card-text">Kiedy ma się kilka lub kilkanaście lat, rower staje się głównym środkiem do swobodnego
            przemieszczania się po okolicy, zabawy, spotkań towarzyskich, pierwszych sportowych wyzwań czy po prostu
            wyrazem dobrego stylu i doskonałym pretekstem do spędzenia wolnego czasu na świeżym powietrzu. .</p>
          <p class="card-text"><small class="text-muted">Ceny od 350 PLN</small></p>
        </div>
      </div>
    </div>
    <div class="col-lg-4">
      <div class="card">
        <img class="card-img-top" src="https://wallpaperaccess.com/full/28991.jpg" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">Rowery damskie</h5>
          <p class="card-text">Rowery damskie wielu osobom kojarzą się z miejskimi modelami z koszykiem na zakupy oraz z
            ramą w cukierkowych kolorach. Tymczasem aktywne kobiety szukają jednośladów przystosowanych do różnych
            warunków jazdy, dlatego rowery damskie wyróżniają się parametrami technicznymi charakterystycznymi dla
            wyczynowej jazdy. Stojąc przed podjęciem decyzji jaki damski rower wybrać, w pierwszej kolejności trzeba
            zwrócić uwagę do jakiej jazdy powinien być przystosowany..</p>
          <p class="card-text"><small class="text-muted">Ceny od 400 PLN</small></p>
        </div>
      </div>
    </div>
  </div>
</div>
