<div class="container-fluid">
  <div class="card">
    <div class="card-header">
      <p>Produkty</p>
    </div>
    <div class=card-body>
        <app-table
          [isEnabledAction]="true"
          [columns]="summaryStructureTableColumns"
          (onUpdatedEventEmitter)="onClickUpdate($event)"
          (onDeleteEventEmitter)="onClickDelete($event)"
          [data]="products">
        </app-table>
        <!--<ng-container>
          <div class="col-sm">
            <a [routerLink]="['/products', product.id]"> {{product.name}}</a>
          </div>
          <div class="col-sm">
            {{product.price}}
          </div>
          <div class="col-sm">
            <div class="form-group">
              <div class="row">
                <button class="btn btn-sm">
                  <i class="fas fa-plus"
                     (click)="onClickIncrement(product)"></i>
                </button>
                <input type="text"
                       class="col-sm-2 text-center form-control"
                       id="street"
                       [(ngModel)]="product.quantity">
                <button class="btn btn-sm"
                        *ngIf="product.quantity > 0">
                  <i class="fas fa-minus"
                     (click)="onClickDecrement(product)"></i>
                </button>
                <div class="col-sm">
                  <button class="btn btn-sm btn-primary pull-right"
                          [disabled]="product.quantity === 0"
                          (click)="addProductToShoppingCart(product)">
                    Dodaj do koszyka
                  </button>
                </div>
              </div>
            </div>
          </div>
        </ng-container>-->
      <div class="card-footer">
        <div class="btn btn-success w-100 h-50" [routerLink]="['/products/add']">Dodaj produkt</div>
      </div>
    </div>
  </div>
</div>
