<div class="container-fluid">
  <div class="card">
    <div class="card-header">
      <p>Produkty</p>
    </div>
    <div class=card-body>
        <app-table
          [isEnabledAction]="true"
          [columns]="productStructureTableColumns"
          (onUpdatedEventEmitter)="onClickUpdate($event)"
          (onDeleteEventEmitter)="onClickDelete($event)"
          [data]="products"
          [selectData]="categories"
          [property]="'name'"
        >
        </app-table>

      <div class="card-footer">
        <div class="btn btn-success w-100 h-50" [routerLink]="['/products/add']">Dodaj produkt</div>
      </div>
    </div>
  </div>
</div>
