<div class="container-fluid">
  <div class="row">
    <div class="col-sm">
      <app-table *ngIf="products && products.length"
                 [data]="products"
                 (onDeleteEventEmitter)="onClickDeleteProduct($event.id)"
                 (onUpdatedEventEmitter)="onClickUpdateProduct($event)"
                 [showActionButtons]="true">
      </app-table>
    </div>
    <div class="col-sm">
      <app-product-add (emitValueToParent)="onReceiveValueFromChildren($event)">

      </app-product-add>
    </div>

  </div>
</div>

