@import "https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700";


html, body {
  font-family: 'Poppins', sans-serif;
  background: #fafafa;
  overflow-y: hidden;
}
.custom-navigation{
  height: calc(100vh - 79px);
}

