#custom-dropdown-menu {
  width: 30%;
  background-color: #b4b8e0;
}

.container {
  background-color: #ade4ff;
}

.sidebar {
  background-color: blanchedalmond;
}

.justify-content-start {
  background-color: #b4b8e0;
}

