@import "https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700";


html, body {
  font-family: 'Poppins', sans-serif;
  background: #fafafa;
  height: 100%;
  width: 100%;
}

.wrapper {
  /*background-color: #e3caca;*/
  display: flex;
  height: 100%;
  width: 100%;
  margin: 0 auto;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

#content {
  width: 100%;
}

#sidebar {
  background-color: #999999;
}

.container-fluid {
  height: inherit;
  padding-left: 0;
  padding-right: 0;

}
@media (max-width: 768px) {
  .wrapper {
    width: 100%;
    display: inline;
  }
  #sidebar {
    marign: 0px
  }
}
