<nav class="w-100" id="sidebar" [ngClass]="{'active': toggle}">
  <div *ngIf="roleName === 'ROLE_ADMIN' || roleName === 'ROLE_WORKER'">
    <li class="nav-item">
      <a class="nav-link" routerLink="/products"><span>Produkty</span></a>
    </li>
    <li class="nav-item">
      <a class="nav-link fa" routerLink="/test-component">Użytkownicy</a>
    </li>
  </div>
  <ul class="list-unstyled component">
    <li class="nav-item">
      <a class="nav-link" href="#">Usługi</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">Disabled</a>
    </li>
    <li class="nav-item">
      <a href="#productSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Home</a>
      <ul class="collapse list-unstyled" id="productSubmenu">
        <li>
          <a routerLink="/products">Rowery</a>
        </li>
        <li>
          <a href="#">Części i akcesoria</a>
        </li>
      </ul>
    <li>
    </li>
  </ul>
</nav>
