<div class="card mt-3">
  <div class="card-header">
    <p>Adres wysyłki</p>
  </div>
  <div class="card-body">
    <div class="row">
      <div class="input-group mb-3">
        <select class="custom-select">
          <option selected>Choose...</option>
          <option value="1">One</option>
          <option value="2">Two</option>
          <option value="3">Three</option>
        </select>
      </div>

    </div>
      <div class="row">
        <div class="col-sm">
          <div class="row">
            <span class="text-center">Ulica</span>
            <input class="input-group-sm">
          </div>
        </div>
        <div class="col-sm">
          <div class="row">
            <span class="text-center">Nr domu</span>
            <input class="input-group-sm w-25">
          </div>
        </div>
        <div class="col-sm">
          <div class="row">
            <span class="text-center">Kod pocztowy</span>
            <input class="input-group-sm w-25">
          </div>
        </div>
        <div class="col-sm">
          <div class="row">
            <span class="text-center">Miejscowość</span>
            <input class="input-group-sm">
          </div>
        </div>
      </div>
    <!--<div class="row"></div>
    <div class="col-sm">
      One of three columns
    </div>
    <div class="col-sm">
      One of three columns
    </div>
    <div class="col-sm">
      One of three columns
    </div>
    <div class="col-sm">
      One of four columns
    </div>-->
  </div>
</div>
