.container-fluid {
  padding: 5px 5px;
  display: block;
}

a.dropdown-item {
  text-align: center;
}

.main {
  display: flex;
  align-items: center;
}

.main div i {
  flex: 1 ;
}

/*i:active {
  cursor: move;
}*/
