<div class="container-fluid" (click)="$event.stopPropagation()">
  <a class="dropdown">
    <a [routerLink]="['/products', product.id]">
      <h3 class="dropdown-header dropdown-item-text">{{product.name}}
        <span class="badge badge-secondary">{{product.price}} PLN</span>
      </h3>
    </a>
    <div class="main col-lg-12">
      <button class="btn"
              (click)="onClickEmitIncrementCountProduct(product, $event)">
        <i class="fas fa-plus"></i>
      </button>
      <div>
        <input type="text"
               class="form-control text-center"
               [(ngModel)]="product.quantity"/>
      </div>
      <button class="btn"
              [disabled]="product.quantity < 1"
              (click)="onClickEmitDecrementCountProduct(product, $event)">
        <i class="fas fa-minus"></i>
      </button>
    </div>
    <div class="dropdown-divider"></div>
  </a>
</div>

