<li class="nav-item dropdown">
  <a class="nav-link dropdown" id="basketDropdown" role="button" data-toggle="dropdown">
    <i class="fas fa-shopping-bag fa-2x"></i>
  </a>
  <div class="dropdown-menu" aria-labelledby="basketDropdown">
    <app-item
      *ngFor="let product of shoppingCart.products"
      [product]="product"
      (onRemove)="removeProduct(product)"
      (onCountEmitter)="receiveChangeFromEmitter($event)"
      (onGoToProduct)="product.id">
    </app-item>
    <div class="dropdown-divider"></div>
    <p>Kwota {{shoppingCart.amount}}</p>
    <div class="dropdown-divider"></div>
    <button class="btn btn-success"> Kupuje</button>
  </div>
</li>

