<li class="nav-item dropdown">
  <a class="nav-link dropdown" id="basketDropdown" role="button" data-toggle="dropdown">
    <i class="fas fa-shopping-bag fa-2x" *ngIf="products"> {{products.length}}
    </i>
  </a>
  <div class="dropdown-menu">
    <ng-container *ngIf="products">
      <app-item
        *ngFor="let product of products"
        [product]="product"
        (onRemove)="removeProduct(product)"
        (onGoToProduct)="product.id">
      </app-item>
    </ng-container>
    <ng-container *ngIf="products.length === 0">
      <p> Brak produktów</p>
    </ng-container>

    <div class="container-fluid flex-column">
      <h5>Kwota {{this.total | number: '00.00' }} PLN</h5>
      <div class="dropdown-divider"></div>
      <button class="btn btn-sm btn-success"
              (click)="goToSummary()"
              [routerLink]="['/summary']"
              [disabled]="products.length === 0">
        Zamawiam
      </button>
    </div>
  </div>
</li>

